
@{
    ViewData["Title"] = "ShowChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="3"></div>
	<div class="6">
		<img class="img-fluid" src="~/images/BMI-chart.jpg" />
	</div>
	<div class="3"></div>
</div>